#项目目录下不提交的文件
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
#android子项目下需要忽略的文件
/Android/*.iml
/Android/.gradle
/Android/local.properties
/Android/.idea/caches
/Android/.idea/libraries
/Android/.idea/modules.xml
/Android/.idea/workspace.xml
/Android/.idea/navEditor.xml
/Android/.idea/assetWizardSettings.xml
/Android/.DS_Store
/Android/build
/Android/captures
/Android/.externalNativeBuild

